<h1 class="mt-4">Imoveis</h1>
<ol class="breadcrumb mb-4">
	<li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
				{{ mensagemSucesso }}
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
				{{ mensagemErro }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-warning" (click)="novoCadastro()">
				<i class="fa fa-plus"></i> Novo
			</button>
		</div>
	</div>
	<br />
	<nav class="navbar">
		<input class="form-control" type="text" name="search" [(ngModel)]="filter">
	</nav>
	<br />

	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titulo</th>
							<th class="full">Descrição</th>
							<th>Bairro</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let imovel of imoveis | filter:filter; let i = index">
							<td>{{ imovel.id }}</td>
							<td>{{ imovel.titulo }}</td>
							<td class="full">{{ imovel.titulo }}</td>
							<td>{{ imovel.bairro }}</td>
							<td style="white-space:nowrap;">
								<button class="btn btn-info ml-1"
								data-toggle="modal" data-target="#modalDados" (click)="preparaDelecao(imovel)">
								<i class="fa fa-address-card"></i>
							</button>
							<button class="btn btn-info ml-1"
							data-toggle="modal" data-target="#modalEndereco" (click)="preparaDelecao(imovel)">
							<i class="fa fa-map-marker-alt"></i>
						</button>
						<button class="btn btn-primary ml-1"
						routerLink="/imoveis-form/{{ imovel.id }}">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn btn-danger ml-1"
					data-toggle="modal" data-target="#modalDelecao" (click)="preparaDelecao(imovel)">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<div id="modalDelecao" class="modal fase" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Confirmação</h4>
			</div>
			<div class="modal-body" *ngIf="imovelSelecionado">
				Confirma a deleção do(a) imóvel <b>{{ imovelSelecionado.titulo }}</b>?
			</div>

			<div class="modal-footer">
				<button class="btn btn-danger" (click)="deletarImovel()"
				data-dismiss="modal">Confirmar</button>
				<button class="btn btn-default" data-dismiss="modal">Cancela</button>
			</div>
		</div>
	</div>
</div>

<div id="modalDados" class="modal fase" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div><h4>Endereço</h4></div>
				<div><button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
			</div>
			<div class="modal-body" *ngIf="imovelSelecionado">
				<div class="rolagem">
					<h3><b>{{ imovelSelecionado.titulo }}</b></h3>
					<p>Descrição: {{ imovelSelecionado.descricao }}</p>
					<p>Tamanho: {{ imovelSelecionado.tamanho }}</p>
					<p>Preço: {{ imovelSelecionado.preco }}</p>
          <p>Comissão: {{ imovelSelecionado.comissao }}</p>
          <p>Condomínio: {{ imovelSelecionado.condominio }}</p>
					<p>Dormitórios: {{ imovelSelecionado.dormitorios }}</p>
          <p>Suítes: {{ imovelSelecionado.suites }}</p>
          <p>Banheiros: {{ imovelSelecionado.banheiros }}</p>
					<p>Quintal: {{ imovelSelecionado.quintal }}</p>
					<p>Frente: {{ imovelSelecionado.frente }}</p>
					<p>Tamanho: {{ imovelSelecionado.tamanho }}</p>
					<p>Extra: {{ imovelSelecionado.extra }}</p>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<div id="modalEndereco" class="modal fase" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div><h4>Consulta</h4></div>
				<div><button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
			</div>
			<div class="modal-body" *ngIf="imovelSelecionado">
				<div class="rolagem">
					<h3><b>{{ imovelSelecionado.titulo }}</b></h3>
					<p>Rua: {{ imovelSelecionado.endereco.rua }}</p>
					<p>Numero: {{ imovelSelecionado.endereco.numero }}</p>
					<p>Bairro: {{ imovelSelecionado.endereco.bairro }}</p>
					<p>Cidade: {{ imovelSelecionado.endereco.cidade }}</p>
					<p>Cep: {{ imovelSelecionado.endereco.cep }}</p>
					<p>Data de Cadastro: {{ imovelSelecionado.endereco.dataCadastro }}</p>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

</div>
