<h1 class="mt-4">Imoveis</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ imovel.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
  <form #imovelForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Imovel salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="imovel.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" name="id"
          [ngModel]="imovel.id" disabled="true" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro:</label>
          <input type="text" class="form-control" name="dataCadastro"
                [ngModel]="imovel.dataCadastro" disabled="true" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Titulo: *</label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.titulo" name="titulo" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição: </label>
          <input type="text" class="form-control"
          [(ngModel)]="imovel.descricao" name="descricao"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Proprietário: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="imovel.proprietario.id">
            <option value="">Selecione ...</option>
            <option *ngFor="let proprietario of proprietarios"
                    [ngValue]="proprietario.id">
              {{ proprietario.nome }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Tipo: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="imovel.tipo.id">
            <option value="">Selecione ...</option>
            <option *ngFor="let tipo of tipos"
                    [ngValue]="tipo.id">
              {{ tipo.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Informações financeiras</li>
    </ol>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Preço: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.preco" name="preco" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Comissão: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.comissao" name="comissao" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Condomínio: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.condominio" name="condominio" />
        </div>
      </div>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Informações do imóvel</li>
    </ol>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Dormitórios: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.dormitorios" name="dormitorios" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Suítes: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.suites" name="suites" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Banheiros: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.banheiros" name="banheiros" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Quintal: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.quintal" name="quintal" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Frente: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.frente" name="frente" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Tamanho: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.tamanho" name="tamanho" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Extra: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.extra" name="extra" />
        </div>
      </div>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Endereço</li>
    </ol>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Rua: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.endereco.rua" name="rua" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Número: </label>
          <input type="text" class="form-control" maxlength="10"
                  [(ngModel)]="imovel.endereco.numero" name="numero" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Bairro: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.endereco.bairro" name="bairro" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Cidade: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.endereco.cidade" name="cidade" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Cep: </label>
          <input type="text" class="form-control" [textMask]="{mask: mask}"
                  [(ngModel)]="imovel.endereco.cep" name="cep" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Complemento: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.endereco.complemento" name="complemento" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!imovel.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="imovel.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
