<h1 class="mt-4">Imoveis</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ imovel.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
  <form #imovelForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Imovel salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="imovel.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" name="id"
          [ngModel]="imovel.id" disabled="true" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro:</label>
          <input type="text" class="form-control" name="dataCadastro"
                [ngModel]="imovel.dataCadastro" disabled="true" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Titulo: *</label>
          <input type="text" class="form-control"
                  [(ngModel)]="imovel.titulo" name="titulo" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição: *</label>
          <input type="text" class="form-control"
          [(ngModel)]="imovel.descricao" name="descricao"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!imovel.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="imovel.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
