<h1 class="mt-4">Proprietarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ proprietario.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
  <form #proprietarioForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Proprietario salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="proprietario.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" name="id"
          [ngModel]="proprietario.id" disabled="true" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro:</label>
          <input type="text" class="form-control" name="dataCadastro"
                [ngModel]="proprietario.dataCadastro" disabled="true" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control"
                  [(ngModel)]="proprietario.nome" name="nome" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Celular: </label>
          <input type="text" class="form-control"
          [(ngModel)]="proprietario.celular" name="celular"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Telefone: </label>
          <input type="text" class="form-control"
                  [(ngModel)]="proprietario.telefone" name="telefone" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>E-mail: </label>
          <input type="text" class="form-control"
          [(ngModel)]="proprietario.email" name="email"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!proprietario.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="proprietario.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
